<section class="section">
  <form class="search-form js-search-form" id="search-form">
    <input class="search-form__input" type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button class="search-form__button js-search-btn" type="submit">
      <img class="logo-search" src="./images/search.png" white="10" height="10" alt="search" loading="lazy" />
   </button>
  </form>
</section>

<div class="gallery container">
</div>

<div id="sentinel"></div>

<div class="container_load-more">
  <button type="button" class="load-more is-hidden"> Load More
  </button>
</div>
  

